body {background-color:white;
      font-weight:"lighter";

	text-decoration:underline overline line-through;
	font-style:bold;

     }	





/*h1 {background-color:purple;color:green;font-size:48px;}
h2 {background-color:pink;color:red;font-size:24px;}
h1, h2{border-bottom: 1px solid black}*/
